# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/HyperMetro/*
!/HyperMetro/task/
/HyperMetro/task/*
!/HyperMetro/task/src
!/HyperMetro/task/Stage1
!/HyperMetro/task/Stage2
!/HyperMetro/task/Stage4
!/HyperMetro/task/Stage5
